<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stories.css">
	
	<script src="https://d3js.org/d3.v5.min.js"></script>
  	<script src="https://x3dom.org/release/x3dom.js"></script>  
  	<script src="https://raw.githack.com/jamesleesaunders/d3-x3d/master/dist/d3-x3d.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

  	<script>
  		let obj = document.getElementsByClassName("dyn");
  	</script>

	<title>Shri-2017</title>

	<script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>

	<script src="https://d3js.org/d3.v4.js"></script>
    
</head>

<body class="theme_light theme_dark">
	<h1 class="title"><%= data.title%></h1>
	<p class="subtitle"><%= data.subtitle%></p>
